## Programming Assignment

This is Coursera programming assignment.

###**First we need to import pandas library and transform data to table.**

In [1]:
#importing pandas library and reading the data from website
import pandas as pd
import numpy as np
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table_data = pd.read_html(url)
data = table_data[0]
data

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned



###**After that we clean data.**

In [2]:
#ignoring data where borough is not assigned
data.drop(data[data['Borough'] == 'Not assigned'].index, inplace = True)
#replacing not assigned neighborhood with borough name
data.replace(to_replace = 'Not assigned', value = data['Borough'], inplace = True)
# grouping data and reseting index
data = data.groupby('Postal Code')['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
data = data.reset_index(drop=False)
print('Data has shape: {}'.format(data.shape))
data

Data has shape: (103, 2)

    Postal Code                                      Neighbourhood
0           M1B                                     Malvern, Rouge
1           M1C             Rouge Hill, Port Union, Highland Creek
2           M1E                  Guildwood, Morningside, West Hill
3           M1G                                             Woburn
4           M1H                                          Cedarbrae
..          ...                                                ...
98          M9N                                             Weston
99          M9P                                          Westmount
100         M9R  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W                Northwest, West Humber - Clairville

[103 rows x 2 columns]

### Now, we find the latitude and the longitude coordinates of each neighborhood.

In [4]:
geo_data = pd.read_csv('https://cocl.us/Geospatial_data')
geo_data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [21]:
#adding latitude and longitude to data
data['Latitude'] = geo_data['Latitude']
data['Longitude'] = geo_data['Longitude']
data

,Postal Code,Neighbourhood,Latitude,Longitude
0,M1B,"Malvern, Rouge",43.806686,-79.194353
1,M1C,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Woburn,43.770992,-79.216917
4,M1H,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
98,M9N,Weston,43.706876,-79.518188
99,M9P,Westmount,43.696319,-79.532242
100,M9R,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,"Northwest, West Humber - Clairville",43.706748,-79.594054